@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700;800;900&display=swap');
*{
    box-sizing: border-box;
}

body{
    width: 1440px;
    font-family: 'Inter', sans-serif;
}

.pre-header{
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ededed;
}

.pre-contant{
    display: flex;
    font-size: 14px;
    line-height: 19.6px;
}
.pre-contant p{
    margin: 0;
    width: 280px;
    text-align: center;
}
.pink{
    padding-left: 10px;
    color: #d87775;
}